@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Mvc.Rendering
@model TomasosTre.ViewModels.Home.IndexViewModel

<div id="root">
    <div class="col-sm-4" id="menuSearch">
        <h2 class="text-center">Menu</h2>
        @foreach (var item in Model.Menu)
        {
            <div class="form-horizontal" >
                <span class="col-sm-9 h4">@item.Name, @item.Price SEK</span>
                <button class="col-sm-2 add btn t3-btn-success" data-dish="@item.Id"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        }
    </div>
    <div class="col-sm-8" id="cart">
        @Html.Partial("Partial/_Cart", Model.Cart)
    </div>

    <div id="dish-customizer" class="modal fade" role="dialog">
        <div id="dish-customizer-target" class="modal-dialog">
            @Html.Partial("Partial/_DishCustomizer", Model.DishCustomization)
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Home/Index.js"></script>
}
